.background-black {
    background-color: black;
}

.background-white {
    background-color: white;
}

.recommendationForm {
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    margin: 20px;

}

.log-in-screen {
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;

}

.full-screen {
    background: linear-gradient(
            90deg,
            rgb(30, 215, 96) 0%,
            rgb(255, 255, 255) 100%
    );
}

.recsList {
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.deleteButtons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
}

.my-rec{
    display: flex;
    justify-content: center;
}

label {

    display: flex;

    flex-direction: column;

}

.adding-song{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    /*flex-wrap: wrap;*/
    /*flex-direction: row;*/
}

.top-bar {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.home-button {
    align-content: flex-end;
}

.top-recs{
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
}

.currently-playing {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    width: auto;
}

.playing-and-top-recs {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    margin: 20px;

}

.button-log {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.button-gif {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 30px;
}

.login-button {
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: bold;
}

.typewriter-style  {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    padding: 20px;
    color: black;
}
/*.login-button {*/
/*    padding: 16px;*/
/*    border: none;*/
/*    border-radius: 0 4px 4px 0;*/
/*    cursor: pointer;*/
/*    outline: none;*/
/*    background: linear-gradient(*/
/*            90deg,*/
/*            rgb(255, 255, 255) 0%,*/
/*            rgb(30, 215, 96) 100%*/
/*    );*/
/*    color: #fff;*/
/*    text-transform: capitalize;*/
/*    color: black;*/
/*}*/

.friendify {
    padding: 20px;
    font-size: 90px;

    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.glow {
    padding: 20px;
    font-size: 80px;
    color: black;
    /*text-align: center;*/
    /*-webkit-text-stroke-width: 2px;*/
    /*-webkit-text-stroke-color: black;*/
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}


@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #1DB954, 0 0 40px #1DB954, 0 0 50px #1DB954, 0 0 60px #1DB954, 0 0 70px #1DB954;
    }

    to {
        text-shadow: 0 0 20px #1DB954, 0 0 30px #1DB954, 0 0 40px #1DB954, 0 0 50px #1DB954, 0 0 60px #1DB954, 0 0 70px #1DB954, 0 0 80px #1DB954;
    }
}

.welcome-line {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.form-rec {
    padding: 10px;
    margin-outside: 10px;
}
.delete-button {
    color: black;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

/*body {*/
/*    background: linear-gradient(*/
/*            90deg,*/
/*            rgba(48, 16, 255, 1) 0%,*/
/*            rgba(100, 115, 255, 1) 100%*/
/*    );*/
/*}*/

.todo-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 520px;
    min-height: 600px;
    background: #161a2b;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
}

/*h1 {*/
/*    margin: 32px 0;*/
/*    color: #fff;*/
/*    font-size: 24px;*/
/*}*/

.complete {
    text-decoration: line-through;
    opacity: 0.4;
}

.todo-form {
    margin-bottom: 32px;
}

.todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #5d0cff;
    outline: none;
    width: 320px;
    background: transparent;
    color: black;
}

.todo-input::placeholder {
    color: black;
}

.todo-button {

    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
            90deg,
            rgba(93, 12, 255, 1) 0%,
            rgba(155, 0, 250, 1) 100%
    );
    color: #fff;
    text-transform: capitalize;
}

.todo-input.edit {
    border: 2px solid #149fff;
}

.todo-button.edit {
    background: linear-gradient(
            90deg,
            rgba(20, 159, 255, 1) 0%,
            rgba(17, 122, 255, 1) 100%
    );
    padding: 16px 22px;
}

.todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
}

.todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background: linear-gradient(
            90deg,
            rgba(255, 118, 20, 1) 0%,
            rgba(255, 84, 17, 1) 100%
    );

    padding: 16px;
    border-radius: 5px;
    width: 90%;
}

.todo-row:nth-child(4n + 1) {
    background: linear-gradient(
            90deg,
            rgba(93, 12, 255, 1) 0%,
            rgba(155, 0, 250, 1) 100%
    );
}

.todo-row:nth-child(4n + 2) {
    background: linear-gradient(
            90deg,
            rgba(255, 12, 241, 1) 0%,
            rgba(250, 0, 135, 1) 100%
    );
}

.todo-row:nth-child(4n + 3) {
    background: linear-gradient(
            90deg,
            rgba(20, 159, 255, 1) 0%,
            rgba(17, 122, 255, 1) 100%
    );
}

.icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.delete-icon {
    margin-right: 5px;
    color: #fff;
}

.edit-icon {
    color: #fff;
}

.neonText {
    padding-left: 50px;
    color: #1DB954;
    text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #ff4da6,
            0 0 82px #ff4da6,
            0 0 92px #ff4da6,
            0 0 102px #ff4da6,
            0 0 151px #ff4da6;
}

/*body {*/
/*    font-size: 18px;*/
/*    font-family: "Yellowtail", sans-serif;*/
/*    background-color: #010a01;*/
/*    background-image: url("https://cdn.pixabay.com/photo/2017/02/12/12/42/wall-2059909_640.png")*/
/*}*/

h4 {
    text-align: center;
    font-weight: 400;
}

h4 {
    font-size: 5.2rem;
    animation: pulsate 0.11s ease-in-out infinite alternate;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

h2 {
    font-size: 1.8rem;
}

@keyframes pulsate {

    100% {

        text-shadow: 0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #ff4da6,
        0 0 80px #ff4da6,
        0 0 90px #ff4da6,
        0 0 100px #ff4da6,
        0 0 150px #ff4da6;

    }

    0% {

        text-shadow: 0 0 4px #fff,
        0 0 10px #fff,
        0 0 18px #fff,
        0 0 38px #ff4da6,
        0 0 73px #ff4da6,
        0 0 80px #ff4da6,
        0 0 94px #ff4da6,
        0 0 140px #ff4da6;

    }
}
